<?xml version="1.0" encoding="UTF-8"?>
<web-app >
    <display-name>Td Spring Application</display-name>

    <servlet>
        <servlet-name>tdmvc</servlet-name>
        <servlet-class>td.learn.spring.v1.servlet.TdDispatchServlet</servlet-class>
        <init-param>
            <param-name>configLocation</param-name>
            <param-value>classpath:application.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>tdmvc</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>